<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

</head>
<body>
    @RenderBody()

    
    <script src="/app.6c875a0e42027c2577fe.bundle.js"></script>
    
    <script src="/vendor.6c875a0e42027c2577fe.bundle.js"></script>
    

    @RenderSection("scripts", required: false)
</body>
</html>