[*.cs]

# VSTHRD105: Avoid method overloads that assume TaskScheduler.Current
dotnet_diagnostic.VSTHRD105.severity = silent

# VSTHRD111: Use ConfigureAwait(bool)
dotnet_diagnostic.VSTHRD111.severity = silent

# VSTHRD103: Call async methods when in an async method
dotnet_diagnostic.VSTHRD103.severity = silent

# VSTHRD002: Avoid problematic synchronous waits
dotnet_diagnostic.VSTHRD002.severity = silent

# VSTHRD114: Avoid returning a null Task
dotnet_diagnostic.VSTHRD114.severity = silent
