<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      
      internalLogLevel="Trace" >

  <!--internalLogFile="console-example-internal.log"-->


  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="zero-sync" fileName="zero-sync.log"
            layout="${date}> ${level:uppercase=true} [ ${logger:shortName=true} (${threadid}) ]: ${message} ${exception}" />

    <target xsi:type="ColoredConsole" name="console"
            layout="${date}|${pad:padding=5:inner=${level:uppercase=true}}[${pad:padding=12:inner=${logger:shortName=true}} (${threadid:padding=4})]: ${message} ${exception:format=Method} ${exception:format=toString,Data:maxInnerExceptionLevel=10} ${">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkCyan" />
      <!--<highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
      
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />-->
    </target>
   
    <!-- layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" /-->

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Debug" writeTo="zero-sync,console" />

  </rules>
</nlog>