@model ConfigViewModel
@{
    ViewData["Title"] = "Home Page";
}


<div aurelia-app="main" data-username="@Model.UserName" data-token="@Model.Token">
    <h1 align="center" style="color: black">Tangling...</h1>
</div>    



